/* adds basic styles */
.header {
    text-align: center;
    font-family: 'Pacifico', cursive;
}
.main-container {
    margin-top: 50px;
    display: flex;
}

nav {
    border: 2px solid red;
}
nav div {
    display: flex;
    width: 100%;
}
nav div h3 {
    color: blue;
    flex: 1;
    cursor: pointer;
}
nav div h3:hover {
    color: pink;
}

.show-all {
    float: right;
    margin-right: 20px;
    cursor: pointer;
}

.char {
    cursor: pointer;
}

.characters-list {
    border: 2px solid green;
    flex: 1;
    height: 500px;
    overflow: auto;
}
.character-details {
    border: 2px solid green;
    flex: 2;
}

.character-details h2, .character-details h1 {
    margin-left: 20px;
}