body {
    display: flex;
}

.characters-list {
    border: 2px solid green;
    flex: 1;
    height: 500px;
    overflow: auto;
}
.character-details {
    border: 2px solid green;
    flex: 2;
}

.character-details h2, .character-details h1 {
    margin-left: 20px;
}